.community,
.image5Icon {
  align-self: stretch;
  position: relative;
}
.image5Icon {
  flex: 1;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.community {
  width: 87px;
  line-height: 150%;
  display: inline-block;
}
.vectorIcon {
  height: 16px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 8px);
  right: 24px;
}
.communityButtons,
.communityImages,
.stylesecondarySmallfalse {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stylesecondarySmallfalse {
  height: 48px;
  flex: 1;
  border-radius: var(--br-90xl);
  background-color: var(--color-tomato);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
}
.communityButtons,
.communityImages {
  align-self: stretch;
}
.communityButtons {
  flex-direction: row;
  padding: 0 var(--padding-52xl);
}
.communityImages {
  width: 301px;
  flex-direction: column;
  gap: var(--gap-6xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--text-regular-normal-size);
  color: var(--color-darkslategray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .communityButtons {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
