.itriLiving {
  font-weight: 600;
}
.concept1 {
  font-weight: 700;
  font-family: var(--font-inria-serif);
}
.itriLivingConceptContainer1 {
  width: 100%;
}
.itriLivingConceptContainer {
  margin: 0;
  width: 741px;
  height: 77px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.8px;
  line-height: 72px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  font-family: inherit;
}
.itrilivingIsA {
  margin: 0;
}
.itrilivingIsAContainer {
  align-self: stretch;
  height: 420px;
  position: relative;
  line-height: 28px;
  display: inline-block;
}
.aCall {
  color: var(--color-gray-100);
}
.requestACallContainer {
  position: relative;
  line-height: 24px;
}
.contentContainer,
.contentContainerWrapper,
.requestCall {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Keyframes for sliding in from right */
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply animation to the text content */
.slideInFromLeft {
  animation: slideInFromLeft 4s ease-out forwards;
}

/* Apply animation to the image */
.slideInFromRight {
  animation: slideInFromRight 4s ease-out forwards;
}
.requestCall {
  border-radius: var(--br-81xl);
  background-color: var(--color-tan);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xl);
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inria-serif);
  margin-top: 40px;
}
.contentContainer,
.contentContainerWrapper {
  flex-direction: column;
}
.contentContainer {
  align-self: stretch;
  gap: var(--gap-45xl);
}
.contentContainerWrapper {
  flex: 1;
  padding: var(--padding-16xl) 0 0;
  box-sizing: border-box;
  min-width: 473px;
  max-width: 100%;
}
.sea815134012801Icon {
  width: 513px;
  position: relative;
  border-radius: var(--br-8xs);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.conceptContent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--text-single-300-bold-size);
  color: var(--color-darkslategray-300);
}
.concept,
.conceptContent,
.itriLivingConceptParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.itriLivingConceptParent {
  width: 1260px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-43xl);
}
.concept {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .sea815134012801Icon {
    flex: 1;
  }
  .conceptContent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .itriLivingConceptContainer {
    font-size: var(--font-size-32xl);
    line-height: 58px;
  }
  .contentContainer {
    gap: var(--gap-13xl);
  }
  .contentContainerWrapper {
    min-width: 100%;
  }
  .itriLivingConceptParent {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 450px) {
  .itriLivingConceptContainer {
    font-size: var(--font-size-19xl);
    line-height: 43px;
  }
  .itrilivingIsAContainer {
    font-size: var(--text-regular-normal-size);
    line-height: 22px;
  }
  .contentContainer {
    gap: var(--gap-base);
  }
  .itriLivingConceptParent {
    gap: var(--gap-mini);
  }
}
