.benefitsToBe {
  font-weight: 600;
}
.customResorts {
  font-weight: 700;
  font-family: var(--font-inria-serif);
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 4s ease-out forwards;
}
.mediumLengthHeroContainer {
  margin: 0;
  align-self: stretch;
  height: 116px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.noUnderline {
  text-decoration: none;
  color: inherit; /* Keeps the color from the parent */
}

.noUnderline:hover {
   text-decoration: none;
  color: #ffffff; /* Optionally, you can set hover color */
}
.contactUsFor {
  position: relative;
  line-height: 150%;
}
.stylesecondarySmallfalse {
  border-radius: var(--br-90xl);
  background-color: var(--color-tan);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  white-space: nowrap;
}
.actions,
.exceptionalContent {
  display: flex;
  justify-content: flex-start;
}
.actions {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-sm);
  color: var(--color-azure);
  font-family: var(--font-inria-serif);
}
.exceptionalContent {
  width: 595px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-47xl);
  min-width: 595px;
  max-width: 100%;
  flex-shrink: 0;
}
.exceptionalLocationBeachfro {
  margin: 0;
  white-space: pre-wrap;
  color: var(--color-darkslategray-100);
  font-family: var(--font-inria-serif);
}
.authenticAccommodationFor {
  margin: 0;
}
.stateOfTheArtFacilities {
  margin: 0;
  white-space: pre-wrap;
}
.exceptionalLocationBeachfroContainer {
  margin: 0;
  width: 596px;
  position: relative;
  font-size: var(--font-size-3xl);
  display: inline-block;
  flex-shrink: 0;
  min-width: 596px;
  max-width: 100%;
  font-family: inherit;
}
.exceptional,
.exceptionalContentParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.exceptionalContentParent {
  width: 620px;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-47xl);
}
.exceptional {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-641xl) var(--padding-4xs) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .exceptionalContent,
  .exceptionalLocationBeachfroContainer {
    flex: 1;
    min-width: 100%;
  }
  .exceptionalContentParent {
    flex-wrap: wrap;
  }
  .exceptional {
    padding-right: var(--padding-311xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .mediumLengthHeroContainer {
    font-size: var(--font-size-19xl);
  }
  .exceptionalContent,
  .exceptionalContentParent {
    gap: var(--gap-14xl);
  }
  .exceptional {
    padding-right: var(--padding-146xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mediumLengthHeroContainer {
    font-size: var(--font-size-10xl);
  }
  .exceptionalContent {
    gap: var(--gap-base);
  }
  .exceptionalLocationBeachfroContainer {
    font-size: var(--text-medium-normal-size);
  }
  .exceptionalContentParent {
    gap: var(--gap-base);
  }
  .exceptional {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
