.heading5,
.linkLocations {
  display: flex;
  align-items: center;
}
.heading5 {
  text-decoration: none;
  width: 116px;
  position: relative;
  font-size: var(--text-regular-normal-size);
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-snow-100);
}
.linkLocations {
  width: 95px;
}
.linkCommunity,
.linkLocations,
.linkSpaces {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
}
.linkSpaces {
  width: 72px;
  display: flex;
  align-items: center;
}
.linkCommunity {
  width: 114px;
}
.linkBenefits,
.linkCommunity,
.linkMember {
  display: flex;
  align-items: center;
}
.linkBenefits {
  text-decoration: none;
  width: 80px;
  position: relative;
  line-height: 20px;
  color: inherit;
}
.linkMember {
  width: 143px;
}
.linkEarn,
.linkMember,
.linkMobile {
  position: relative;
  line-height: 20px;
}
.linkMobile {
  text-decoration: none;
  width: 112px;
  color: inherit;
  display: flex;
  align-items: center;
}
.linkEarn {
  align-self: stretch;
}
.productLinks {
  width: 209px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.heading51,
.linkAbout,
.linkPress,
.linkValues {
  position: relative;
  display: flex;
  align-items: center;
}
.heading51 {
  text-decoration: none;
  width: 111px;
  font-size: var(--text-regular-normal-size);
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-snow-100);
}
.linkAbout,
.linkPress,
.linkValues {
  line-height: 20px;
}
.linkAbout {
  text-decoration: none;
  width: 84px;
  color: inherit;
}
.linkPress,
.linkValues {
  width: 61px;
}
.linkPress {
  text-decoration: none;
  width: 49px;
  color: inherit;
}
.linkSustainability {
  width: 119px;
}
.linkBlog,
.linkCode,
.linkPrivacy,
.linkSustainability,
.linkTerms {
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.linkBlog {
  text-decoration: none;
  width: 42px;
  color: inherit;
}
.linkCode,
.linkPrivacy,
.linkTerms {
  width: 153px;
}
.linkPrivacy,
.linkTerms {
  text-decoration: none;
  width: 124px;
  color: inherit;
}
.linkTerms {
  width: 174px;
}
.companyLinkItems {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.heading52,
.linkContact {
  display: flex;
  align-items: center;
}
.heading52 {
  text-decoration: none;
  width: 100px;
  position: relative;
  font-size: var(--text-regular-normal-size);
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-snow-100);
}
.linkContact {
  width: 97px;
}
.linkContact,
.linkFaq,
.linkUltimate {
  position: relative;
  line-height: 20px;
}
.linkUltimate {
  width: 140px;
  display: flex;
  align-items: center;
}
.linkFaq {
  text-decoration: none;
  align-self: stretch;
  color: inherit;
}
.companyLinks,
.supportLinks {
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.companyLinks {
  width: 575px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-27xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.heading53 {
  width: 108px;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.linkFacebookIcone22a9a0b {
  object-fit: cover;
}
.linkFacebookIcone22a9a0b,
.linkTwitterIcon2594da59s {
  height: 21px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 21px;
}
.socialContainer,
.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.socialContainer {
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--text-regular-normal-size);
  color: var(--color-snow-100);
}
.footerLinksContainer,
.horizontalborder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.horizontalborder {
  width: 1268px;
  border-top: 1px solid var(--color-snow-300);
  padding: var(--padding-12xl) var(--padding-7xs) var(--padding-40xl-9) 0;
  gap: var(--gap-138xl);
}
.footerLinksContainer {
  align-self: stretch;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-snow-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .horizontalborder {
    gap: var(--gap-59xl);
    flex-wrap: wrap;
    padding-left: var(--padding-7xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .companyLinks {
    flex-wrap: wrap;
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .horizontalborder {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .horizontalborder {
    gap: var(--gap-xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
