/* frame-component4.module.css */
.animateSlideInRight {
  animation: slideInRight 0.5s forwards;
}

.animateSlideInLeft {
  animation: slideInLeft 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
