.communityContent,
.communityContentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.communityContent {
  width: -104px;
  height: 493px;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-97xl);
}
.communityContentWrapper {
  height: 596px;
  width: 1552px;
  flex-direction: column;
  min-width: 1552px;
  max-width: 111%;
  text-align: left;
  font-size: var(--text-regular-normal-size);
  color: var(--color-darkslategray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .communityContentWrapper {
    flex: 1;
    min-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .communityContentWrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .communityContent {
    gap: var(--gap-39xl);
  }
  .communityContentWrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .communityContent {
    gap: var(--gap-10xl);
  }
  .communityContentWrapper {
    min-width: 100%;
  }
}
