.heading2 {
  margin: 0;
  width: 317.1px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.2px;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.imageIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.gradientIcon,
.imageIcon,
.postItem {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gradientIcon {
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.postItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.news {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.border,
.postList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.border {
  width: 54.4px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-paleturquoise-200);
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-10xs)
    var(--padding-4xs);
  z-index: 2;
}
.postList {
  flex: 1;
  padding: var(--padding-base) var(--padding-sm);
  position: relative;
  min-width: 275px;
  max-width: 299px;
  min-height: 257px;
}
.gradientIcon1 {
  height: 256.8px;
  width: 299px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
  display: none;
}
.location {
  position: relative;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.border1 {
  width: 75px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-paleturquoise-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs) var(--padding-10xs)
    var(--padding-6xs);
  z-index: 1;
}
.gradientIcon2,
.postList1 {
  border-radius: var(--br-8xs);
}
.postList1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-sm);
  box-sizing: border-box;
  background-image: url(/gradient1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 275px;
  max-width: 299px;
  min-height: 257px;
  font-size: var(--font-size-xs-6);
}
.gradientIcon2 {
  height: 245.4px;
  width: 299px;
  position: relative;
  object-fit: cover;
  display: none;
}
.border2 {
  width: 88px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-paleturquoise-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-9xs) var(--padding-10xs)
    var(--padding-6xs);
  z-index: 1;
}
.border2,
.border3,
.postList2 {
  box-sizing: border-box;
}
.postList2 {
  flex: 1;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-sm);
  background-image: url(/gradient2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 275px;
  max-width: 299px;
  min-height: 245px;
  font-size: var(--font-size-xs-6);
}
.border3 {
  width: 54.4px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-paleturquoise-200);
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-10xs)
    var(--padding-4xs);
  z-index: 1;
}
.blogPostList,
.border3,
.postList3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.postList3 {
  flex: 1;
  border-radius: var(--br-8xs);
  padding: var(--padding-base) var(--padding-sm);
  box-sizing: border-box;
  background-image: url(/gradient3@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 275px;
  max-width: 299px;
  min-height: 257px;
}
.blogPostList {
  align-self: stretch;
  gap: var(--gap-2xl);
}
.feb282024 {
  width: 149px;
  position: relative;
  font-size: var(--font-size-base-3);
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.discoverTheTrue,
.embracingAuthenticityWith {
  align-self: stretch;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.embracingAuthenticityWith {
  height: 28px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-darkslategray-300);
}
.discoverTheTrue {
  height: 36px;
  line-height: 24px;
  color: var(--color-darkslategray-100);
}
.previewContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi-2);
  min-width: 232px;
  max-width: 299px;
}
.may242024 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.monthContainer {
  width: 127px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-base-4);
}
.yourAuthenticTravel {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-darkslategray-300);
}
.exploreOurGuide {
  height: 68px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.guideDescription,
.travelGuide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guideDescription {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  color: var(--color-darkslategray-100);
}
.travelGuide {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi-7);
  min-width: 277px;
  max-width: 301px;
}
.aug212024 {
  width: 124px;
  position: relative;
  font-size: var(--font-size-base-4);
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.learnHowItri {
  margin: 0;
}
.learnHowItriContainer {
  align-self: stretch;
  height: 79px;
  position: relative;
  line-height: 24px;
  color: var(--color-darkslategray-100);
  display: inline-block;
  flex-shrink: 0;
}
.previewContent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  min-width: 236px;
  max-width: 299px;
}
.sep272024 {
  width: 132px;
  position: relative;
  font-size: var(--font-size-base-3);
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.discoverOurCollaboration {
  align-self: stretch;
  height: 48px;
  position: relative;
  line-height: 24px;
  color: var(--color-darkslategray-100);
  display: inline-block;
  flex-shrink: 0;
}
.blogPostContainer,
.communityPost,
.postPreview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.communityPost {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi-2);
  min-width: 227px;
  max-width: 300px;
}
.blogPostContainer,
.postPreview {
  align-self: stretch;
}
.postPreview {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-xl-3);
  font-size: var(--font-size-sm);
  color: var(--color-tan);
}
.blogPostContainer {
  flex-direction: column;
  gap: var(--gap-base-8);
  font-size: var(--text-tiny-normal-size);
  color: var(--color-paleturquoise-200);
}
.blog,
.blogWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.blog {
  width: 1260px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.blogWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-60xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .postList1,
  .postList2,
  .postList3 {
    min-height: auto;
  }
  .blogPostList {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .heading2 {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .blog {
    gap: var(--gap-xl);
  }
  .blogWrapper {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading2 {
    font-size: var(--font-size-10xl);
    line-height: 29px;
  }
}
