.reminder {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.2px;
  line-height: 122.98%;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
}
.pleaseNoteThat {
  margin: 0;
}
.howeverWeHave {
  margin: 0;
  white-space: pre-wrap;
}
.pleaseNoteThatContainer {
  width: 517px;
  height: 266px;
  position: relative;
  font-size: var(--text-regular-normal-size);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-300);
  display: inline-block;
  max-width: 100%;
}
.content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  min-width: 411px;
  max-width: 100%;
}
.commitmentChild {
  height: 346px;
  width: 636px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-paleturquoise-200);
  display: none;
  max-width: 100%;
}
.tailorMade {
  font-weight: 700;
  color: var(--color-tan);
  white-space: pre-wrap;
}
.weAreCommittedContainer {
  height: 192px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.commitment {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-paleturquoise-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-58xl) var(--padding-19xl) var(--padding-58xl)
    var(--padding-20xl);
  box-sizing: border-box;
  z-index: 1;
}
.commitment,
.content,
.content2,
.contentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 413px;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray-200);
}
.content,
.contentWrapper {
  flex-direction: row;
  justify-content: center;
}
.content {
  width: 1268px;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 20px;
}
.contentWrapper {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-6xl) var(--padding-7xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inria-serif);
}
@media screen and (max-width: 825px) {
  .reminder {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .content1 {
    min-width: 100%;
  }
  .weAreCommittedContainer {
    font-size: var(--font-size-13xl);
  }
  .content2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .reminder {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .weAreCommittedContainer {
    font-size: var(--font-size-5xl);
  }
}
