.locationCard {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 8px;
}

.imageWrapper {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area without distorting */
    transition: transform 0.3s ease;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    align-items: center; /* Vertically centers the text */
    justify-content: center; /* Horizontally centers the text */
    transition: opacity 0.3s ease;
}

.locationCard h3 {
    padding: 10px 15px;
    border-radius: 5px;
    color: #0d6e6e;
    margin: 0;
    text-align: center;
    font-size: 1.5rem; /* Responsive text size */
    width: 80%; /* To ensure the text is centered and fits well on mobile screens */
}
.locationCard h3 {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}

.locationCard:hover .image {
    transform: scale(2); /* Slight zoom effect on hover */
}

@media screen and (max-width: 450px) {

}

