.exploreItrilivingSpaces {
  align-self: stretch;
  height: 58px;
  font-size: inherit;
  letter-spacing: -1.2px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.aPlaceTo,
.exploreItrilivingSpaces,
.toBeFound {
  margin: 0;
  position: relative;
}
.noUnderline {
  text-decoration: none;  /* Remove underline */
  color: inherit;         /* Keep the color from the parent element */
}

.noUnderline:hover {
  text-decoration: none;  /* Ensure underline does not appear on hover */
  color: inherit;         /* Keeps color on hover */
}
.toBeFound {
  align-self: stretch;
  font-size: var(--font-size-13xl);
  letter-spacing: -1.2px;
  line-height: 122.98%;
  font-style: italic;
  font-weight: 700;
  font-family: var(--font-inria-serif);
  color: var(--color-darkslategray-100);
}
.aPlaceTo {
  width: 834px;
  font-size: var(--font-size-3xl);
  line-height: 28px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.exploreItrilivingSpacesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-33xl);
  box-sizing: border-box;
  gap: var(--gap-14xl);
  max-width: 100%;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-300);
}
.tooltipIcon {
  align-self: stretch;
  width: 359px;
  border-radius: var(--br-8xs);
  max-height: 100%;
  object-fit: cover;
  min-height: 286px;
  max-width: 100%;
}
.authenticPool {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.amenities,
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.checkbox {
  flex: 1;
  border-radius: var(--br-8xs);
  justify-content: center;
  padding: var(--padding-107xl) var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/checkbox@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 327px;
}
.amenities {
  align-self: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-xl-5);
  text-align: center;
}
.tooltip,
.tooltip1 {
  border-radius: var(--br-8xs);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.tooltip {
  width: 503px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-107xl) var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/tooltip1@3x.png);
  max-width: 100%;
}
.tooltip1 {
  padding: var(--padding-107xl) var(--padding-59xl);
  background-image: url(/tooltip2@3x.png);
}
.features,
.tooltip1,
.tooltip2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tooltip2 {
  border-radius: var(--br-8xs);
  padding: var(--padding-107xl) var(--padding-61xl);
  background-image: url(/tooltip3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.features {
  width: 1262px;
  overflow-x: auto;
  padding: 0 0 var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  max-width: 100%;
  text-align: center;
}
.bookAStay {
  position: relative;
  line-height: 150%;
}
.booking,
.stylesecondarySmallfalse {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.stylesecondarySmallfalse {
  border-radius: var(--br-90xl);
  background-color: var(--color-tan);
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  white-space: nowrap;
}
.booking {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) var(--padding-42xl);
  font-size: var(--text-single-300-bold-size);
  color: var(--color-azure);
  font-family: var(--font-inria-serif);
}
.locationsUnderConsideration {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.2px;
  line-height: 122.98%;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
}
.makeItriResidences {
  margin: 0;
}
.makeItriResidencesContainer {
  margin: 0;
  align-self: stretch;
  height: 116px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.2px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.image2Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.shapeIcon {
  width: 16px;
  height: 16px;
  position: relative;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.stylesecondarySmallfalse1 {
  border-radius: var(--br-90xl);
  background-color: var(--color-tomato);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-5xs);
}
.actions,
.details,
.stylesecondarySmallfalse1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  width: 172px;
  border-radius: var(--br-81xl);
  flex-direction: row;
}
.details {
  height: 318px;
  width: 300px;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.image3Icon {
  align-self: stretch;
  height: 319px;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.actions1 {
  border-radius: var(--br-81xl);
  flex-direction: row;
  padding: 0 var(--padding-17xl) 0 0;
}
.actionContainer,
.actions1,
.images {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionContainer {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.images {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 195px;
}
.image4Icon {
  align-self: stretch;
  height: 244px;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.actions2 {
  border-radius: var(--br-81xl);
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 0;
}
.actions2,
.actionsWrapper,
.images1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionsWrapper {
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.images1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xl);
  min-width: 195px;
  font-family: var(--font-inter);
}
.details1,
.styleprimarySmallfalseDa,
.stylesecondarySmallfalse4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.details1 {
  align-self: stretch;
  gap: var(--gap-xl);
}
.styleprimarySmallfalseDa,
.stylesecondarySmallfalse4 {
  padding: var(--padding-xs) var(--padding-5xl);
  flex-shrink: 0;
}
.styleprimarySmallfalseDa {
  height: 50px;
  border-radius: var(--br-99xl);
  background-color: var(--color-tan);
  border: 1px solid var(--color-tan);
  box-sizing: border-box;
}
.stylesecondarySmallfalse4 {
  border-radius: var(--br-90xl);
  background-color: var(--color-paleturquoise-200);
  gap: var(--gap-5xs);
  color: var(--color-darkslategray-300);
}
.actionContainer1,
.actions3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.actions3 {
  height: 64px;
  width: 414px;
  border-radius: var(--br-81xl);
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
}
.actionContainer1 {
  width: 604px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  color: var(--color-white);
}
.location1,
.stylesecondarySmallfalse5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 403px;
  max-width: 100%;
}
.stylesecondarySmallfalse5 {
  border-radius: var(--br-90xl);
  background-color: var(--color-tomato);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-5xs);
  flex-shrink: 0;
}
.actions4 {
  width: 138px;
  border-radius: var(--br-81xl);
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.actionContainer2,
.actions4,
.image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionContainer2 {
  flex-direction: row;
  padding: 0 var(--padding-5xs);
}
.image {
  height: 391px;
  width: 300px;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.listing,
.location,
.locations {
  align-self: stretch;
  justify-content: flex-start;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-2xl);
  max-width: 100%;
  font-size: var(--text-regular-normal-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inria-serif);
}
.listing,
.locations {
  flex-direction: column;
}
.listing {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-inter);
}
.locations {
  gap: var(--gap-10xl);
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inria-serif);
}
.locations,
.spaces,
.wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.wrapper {
  width: 1270px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.spaces {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-40xl) var(--padding-9xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .spaces {
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .spaces {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .exploreItrilivingSpaces {
    font-size: var(--font-size-19xl);
  }
  .toBeFound {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .exploreItrilivingSpacesParent {
    gap: var(--gap-base);
  }
  .locationsUnderConsideration {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .makeItriResidencesContainer {
    font-size: var(--font-size-19xl);
  }
  .details1 {
    flex-wrap: wrap;
  }
  .location1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .exploreItrilivingSpaces {
    font-size: var(--font-size-10xl);
  }
  .toBeFound {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .aPlaceTo {
    font-size: var(--text-medium-normal-size);
    line-height: 22px;
  }
  .authenticPool {
    font-size: var(--font-size-3xl);
  }
  .tooltip1,
  .tooltip2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .locationsUnderConsideration {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .makeItriResidencesContainer {
    font-size: var(--font-size-10xl);
  }
  .spaces {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
