.amalfi201204112801Icon {
  width: 1260px;
  position: relative;
  border-radius: var(--br-8xs);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  animation: slideUp 0.8s ease-out forwards;
}
.amalfi {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.contentContainerParent,
.whyMember {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.whyMember {
  width: 1419px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: 165px;
}
.contentContainerParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 81px;
}
.landingPageItriLivingInner {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  position: relative;
  background-color: var(--color-azure);
  overflow: hidden;
  gap: 95px;
  line-height: normal;
  letter-spacing: normal;
}
.container,
.content,
.landingPageItriLivingInner {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  position: relative;
  background-color: var(--color-azure);
  overflow: hidden;
  gap: 95px;
  line-height: normal;
  letter-spacing: normal;
}
.container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-88xl);
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-22xl) 127px;
  box-sizing: border-box;
}
.captureDEcran20240628AIcon {
  height: 73px;
  width: 206px;
  position: relative;
  object-fit: cover;
}
.spacesImage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.discoverDynamicSpaces {
  width: 500px;
  position: relative;
  right: 0%;
  line-height: 20px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.spacesDescription {
  width: 1900px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.horizontalborder,
.itriLivingAll,
.spacesDescription {
  display: flex;
  justify-content: center;
}
.itriLivingAll {
  width: 245.5px;
  position: relative;
  line-height: 20px;
  align-items: center;
  flex-shrink: 0;
}
.horizontalborder {
  align-self: stretch;
  border-top: 1px solid var(--color-snow-300);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-12xl) var(--padding-xl) var(--padding-13xl);
}
.card,
.landingPageItriLiving {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.card {
  margin-right: -26px;
  width: 120%;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  padding: var(--padding-36xl) var(--padding-lg);
  gap: 31.9px;
  max-width: 104%;
  flex-shrink: 0;
  text-align: center;
  align-self: center;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-snow-200);
  font-family: var(--font-inter);
}
.landingPageItriLiving {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  position: relative;
  background-color: var(--color-azure);
  overflow: hidden;
  gap: 95px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .whyMember {
    gap: 82px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .card,
  .content {
    box-sizing: border-box;
  }
  .content {
    padding-bottom: 54px;
  }
  .card {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
  }
}
@media screen and (max-width: 825px) {
  .whyMember {
    gap: 41px;
  }
  .contentContainerParent {
    gap: var(--gap-21xl);
  }
  .container {
    gap: var(--gap-34xl);
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%); /* Start off-screen at the bottom */
      opacity: 0; /* Optionally, fade in */
    }
    to {
      transform: translateY(0); /* End at the original position */
      opacity: 1;
    }
  }

  .content {
    padding-bottom: var(--padding-16xl);
    box-sizing: border-box;
  }
  .card {
    gap: var(--gap-base);
  }
  .landingPageItriLiving {
    gap: 47px;
  }
}
@media screen and (max-width: 450px) {
  .whyMember {
    gap: var(--gap-2xl);
  }
  .contentContainerParent {
    gap: var(--gap-xl);
  }
  .container {
    gap: var(--gap-8xl);
  }
  .card {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
  .landingPageItriLiving {
    gap: var(--gap-5xl);
  }
}
